---
import { currentDomain } from "../../data/url";
const identityApiUrl = `https://${currentDomain}/.netlify/identity`;
---



<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/admin/" />
    <title>Content Manager</title>
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <script is:inline src="https://unpkg.com/decap-cms@3.8.3/dist/decap-cms.js"></script>
    <script is:inline define:vars={{ identityApiUrl }}>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.init({ APIUrl: identityApiUrl });
        window.netlifyIdentity.on("init", function (user) {
          if (!user) {
            window.netlifyIdentity.on("login", function () {
              document.location.href = "/admin/";
            });
          }
        });
      }
</script>
  </body>
</html>
